.button{
    font-weight: 700;
    font-size: 0.9rem;
    border: 1px solid rgba( 0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    outline: none;
}
.button:active{
    border-width: 2px;
}
.button-dark{
    background-color: rgba(0, 0, 0, 0.5)!important;
    color: white;
}
