.color-picker{
    position: fixed;
    right: 0;
    top: 0;
}

.color-picker button{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
    outline: none;
}