.display{
    grid-column: span 4;
    padding: 0px 10px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
}
.display button{
    background-color: transparent;
    width: 100%;
    outline: none;
    color: white;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.display .wrap{
    min-height: 76px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.display h1, .display h5{
    width: max-content;
    margin: 0;
    padding: 5px;
}
.display h5{
    padding-bottom: 0px;
}